.nutriScore {
  color: white;
  border-radius: 15px;
  width: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 30px auto;
}

.nutriScore.A {
  background-color: #00823f;
}

.nutriScore.B {
  background-color: #86bc2b;
}

.nutriScore.C {
  background-color: #fecc00;
}

.nutriScore.D {
  background-color: #ef8200;
}

.nutriScore.E {
  background-color: #e73c09;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1rem;
}

tr:hover {
  background-color: #eee;
}

img {
  width: 80px;
  height: 70px;
  border-radius: 25%;
  object-fit: cover;
}

.mat-mdc-table th {
  background-color: rgba(200, 24, 254, 0.226);
  font-size: 1.3rem;
  text-align: center;
}

.mat-mdc-cell {
  font-size: 1rem;
  padding: 5px;
  text-align: center;
}

.mat-mdc-row {
  border-bottom: 1px solid #ddd;
}
