.nutriScore {
  width: 10px;
  height: 20px;
  border-radius: 25px;
  font-size: 19px;
  font-weight: bold;
  margin: 2px;
  text-align: center;
  padding: 3px;
}

.nutriScore.A {
  background-color: #5e9e3b;
  color: white;
}

.nutriScore.B {
  background-color: #98bb39;
  color: white;
}

.nutriScore.C {
  background-color: #d77b1b;
  color: white;
}

.nutriScore.D {
  background-color: #d77b1b;
  color: white;
}

.nutriScore.E {
  background-color: #d77b1b;
  color: white;
}

table th {
  background-color: #bc00afc8;
}

tr:nth-child(odd) {
  background-color: rgba(247, 246, 246, 0.466);
}

img {
  width: 70px;
  height: 60px;
  object-fit: cover;
}
