.nutriScore {
  display: flex;
  justify-content: center;
  margin: 12px;
  padding: 9px;
  align-items: center;
  width: 20px;
  height: 30px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
}

.nutriScore.A {
  background-color: #2c7f43;
  color: white;
}

.nutriScore.B {
  background-color: #98bb39;
  color: white;
}

.nutriScore.C {
  background-color: #d77b1b;
  color: white;
}

.nutriScore.D {
  background-color: #d77b1b;
  color: white;
}

.nutriScore.E {
  background-color: #d77b1b;
  color: white;
}

tr {
  cursor: pointer;
}

table th {
  background-color: #c017a431;
}

tr:nth-child(odd) {
  background-color: rgba(247, 246, 246, 0.466);
}

img {
  width: 70px;
  height: 60px;
  object-fit: cover;
}
